.App {
  text-align: center;
}


#mycart{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }

  #mycart img{
    width:20%;
    margin-left: 5%;
  }
  #mycart th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

/* .Order-form {
  width: 609px;
  margin: 5px 0;
  background-color: #edd98b;
  padding: 2px;
  height: 574px;
  margin-right: 2.5%;
} */