.App {
  text-align: center;
}
/* CSS IMAGES COLUMN */

/* border of the cart */
div.gallery {
  border: 1px solid #ccc;
}
/* border hover */
div.gallery:hover {
  border: 1px solid #777;
}

/* div.gallery img {
  width: 100%;
  height: auto;
} */

/* to get the text  align and padding around images */
div.desc {
  padding: 15px;
  text-align: center;
}

/* * {
  box-sizing: border-box;
} */

.product-item {
  width:300px;
  margin:1%;
}
ul{
  display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}
/* padding: 0 6px;
display:flex;
justify-content: space-evenly;
margin:0px;
float: left;
width: 24.99999%; */

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    /* margin: 6px 0; */
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/* .clearfix:after {
  content: "";
  display: table;
  clear: both;
} */



/* Order form css */
.OrderForm input[type=text] {
  width: 40%;
  padding: 12px;
  border: 5px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.OrderForm input[type=number] {
  width: 40%;
  padding: 12px;
  border: 4px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.OrderForm label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 30px;
}
.OrderForm input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 20px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top:20px;
  margin-left:50%;
 
  
}
.OrderForm input[type=submit]:hover {
  background-color: #45a049;
}
.OrderForm{
  margin-top:5%;
  background-color: burlywood;
  margin-left: 20%;
  margin-right: 20%;
}
.OrderForm h1{
  font-size: 40px;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* order form css finish */

.SuccessPage{
  margin-top: 5%;
}

.hero.is-success {
  /* background-color: #23d160; */
  color: #fff;
}

.namep{
  font-size : 10px
}

.btn-list-product{
  display:flex;
  justify-content:space-evenly
}

.mycart{
  width:10px
}

.img-products {
  width: 268px;
  height: 386px;
} 