.App {
  text-align: center;
}
/* CSS IMAGES COLUMN */

/* border of the cart */
div.gallery {
  border: 1px solid #ccc;
}
/* border hover */
div.gallery:hover {
  border: 1px solid #777;
}

/* div.gallery img {
  width: 100%;
  height: auto;
} */

/* to get the text  align and padding around images */
div.desc {
  padding: 15px;
  text-align: center;
}

/* * {
  box-sizing: border-box;
} */

.product-item {
  width:300px;
  margin:1%;
}
ul{
  display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}
/* padding: 0 6px;
display:flex;
justify-content: space-evenly;
margin:0px;
float: left;
width: 24.99999%; */

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    /* margin: 6px 0; */
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/* .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* home page css */
.HomePage{
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  margin:0 20% 
 
  
}
.SearchBar{
  border: 10px;
  
}
.SearchBar input[type=text] {
  border: 1px solid #ccc; 
  width: 20%; 
  margin-top:3%;
  padding:10px;
  border-radius:20px;

}
.Search label{
    font-size: 20px;
    margin-right:20px;
}  
    
        


/* Order form css */
.OrderForm input[type=text] {
  width: 40%;
  padding: 12px;
  border: 5px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.OrderForm input[type=number] {
  width: 40%;
  padding: 12px;
  border: 4px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.OrderForm label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 30px;
}






.OrderForm{
  margin-top:5%;
  margin-left: 20%;
  margin-right: 20%;
}
.OrderForm h1{
  font-size: 40px;
}
.orderformbtn{
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* order form css finish */


/* show cart css */

.mycart th, td {
  text-align: left;
  padding: 8px;
  margin-left: 40px;
}



.mycart img{
  width:30%;
} 
table {
  border-collapse: collapse;
  width: 20%;
  margin: 0 auto;
  margin-top: 2%;
 }
 .table.is-fullwidth {
  width: 50%;
}
 
 .MyCart h1{
   font-size: 30px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 40px auto;
 }
 
 

.SuccessPage{
  margin-top: 5%;
}

.SuccessPage h1{
  font-size: 40px;
 

}
.SuccessPage p{
  font-size: 40px;

}
.cartlogo{
  width: 15%;
  margin-right: 10px;
  height: 20px;
  font-size: 20px;
}






.hero.is-success {
  /* background-color: #23d160; */
  color: #fff;
}

.namep{
  font-size : 10px
}

.btn-list-product{
  display:flex;
  justify-content:space-evenly
}

.mycart{
  width:10px
}

.img-products {
  width: 268px;
  height: 386px;
} 
